<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zuche.mapper.UserCarMapper" >
  <resultMap id="BaseResultMap" type="com.zuche.entity.UserCar" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="configuration_id" property="configurationId" jdbcType="INTEGER" />
    <result column="plateNumber" property="platenumber" jdbcType="CHAR" />
    <result column="year" property="year" jdbcType="TIMESTAMP" />
    <result column="gearbox" property="gearbox" jdbcType="INTEGER" />
    <result column="displacement" property="displacement" jdbcType="VARCHAR" />
    <result column="navigator" property="navigator" jdbcType="INTEGER" />
    <result column="pdc" property="pdc" jdbcType="INTEGER" />
    <result column="drivenMode" property="drivenmode" jdbcType="INTEGER" />
    <result column="mileage" property="mileage" jdbcType="INTEGER" />
    <result column="capacity" property="capacity" jdbcType="INTEGER" />
    <result column="fuelTankage" property="fueltankage" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="disposit" property="disposit" jdbcType="REAL" />
    <result column="ordertakingCount" property="ordertakingcount" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="ordertakingRate" property="ordertakingrate" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="totalStar" property="totalstar" jdbcType="INTEGER" />
    <result column="totalComment" property="totalcomment" jdbcType="INTEGER" />
    <result column="avgStar" property="avgstar" jdbcType="REAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zuche.entity.UserCar" extends="BaseResultMap" >
    <result column="carPhoto" property="carphoto" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, configuration_id, plateNumber, year, gearbox, displacement, navigator, 
    pdc, drivenMode, mileage, capacity, fuelTankage, description, price, disposit, ordertakingCount, 
    sales, ordertakingRate, status, totalStar, totalComment, avgStar
  </sql>
  <sql id="Blob_Column_List" >
    carPhoto
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.zuche.entity.UserCarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zuche.entity.UserCarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zuche.entity.UserCarExample" >
    delete from user_car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zuche.entity.UserCar" >
    insert into user_car (id, user_id, configuration_id, 
      plateNumber, year, gearbox, 
      displacement, navigator, pdc, 
      drivenMode, mileage, capacity, 
      fuelTankage, description, price, 
      disposit, ordertakingCount, sales, 
      ordertakingRate, status, totalStar, 
      totalComment, avgStar, carPhoto
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{configurationId,jdbcType=INTEGER}, 
      #{platenumber,jdbcType=CHAR}, #{year,jdbcType=TIMESTAMP}, #{gearbox,jdbcType=INTEGER}, 
      #{displacement,jdbcType=VARCHAR}, #{navigator,jdbcType=INTEGER}, #{pdc,jdbcType=INTEGER}, 
      #{drivenmode,jdbcType=INTEGER}, #{mileage,jdbcType=INTEGER}, #{capacity,jdbcType=INTEGER}, 
      #{fueltankage,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{disposit,jdbcType=REAL}, #{ordertakingcount,jdbcType=INTEGER}, #{sales,jdbcType=INTEGER}, 
      #{ordertakingrate,jdbcType=REAL}, #{status,jdbcType=INTEGER}, #{totalstar,jdbcType=INTEGER}, 
      #{totalcomment,jdbcType=INTEGER}, #{avgstar,jdbcType=REAL}, #{carphoto,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zuche.entity.UserCar" >
    insert into user_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="configurationId != null" >
        configuration_id,
      </if>
      <if test="platenumber != null" >
        plateNumber,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="gearbox != null" >
        gearbox,
      </if>
      <if test="displacement != null" >
        displacement,
      </if>
      <if test="navigator != null" >
        navigator,
      </if>
      <if test="pdc != null" >
        pdc,
      </if>
      <if test="drivenmode != null" >
        drivenMode,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="fueltankage != null" >
        fuelTankage,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="disposit != null" >
        disposit,
      </if>
      <if test="ordertakingcount != null" >
        ordertakingCount,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="ordertakingrate != null" >
        ordertakingRate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="totalstar != null" >
        totalStar,
      </if>
      <if test="totalcomment != null" >
        totalComment,
      </if>
      <if test="avgstar != null" >
        avgStar,
      </if>
      <if test="carphoto != null" >
        carPhoto,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="configurationId != null" >
        #{configurationId,jdbcType=INTEGER},
      </if>
      <if test="platenumber != null" >
        #{platenumber,jdbcType=CHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=TIMESTAMP},
      </if>
      <if test="gearbox != null" >
        #{gearbox,jdbcType=INTEGER},
      </if>
      <if test="displacement != null" >
        #{displacement,jdbcType=VARCHAR},
      </if>
      <if test="navigator != null" >
        #{navigator,jdbcType=INTEGER},
      </if>
      <if test="pdc != null" >
        #{pdc,jdbcType=INTEGER},
      </if>
      <if test="drivenmode != null" >
        #{drivenmode,jdbcType=INTEGER},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=INTEGER},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=INTEGER},
      </if>
      <if test="fueltankage != null" >
        #{fueltankage,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="disposit != null" >
        #{disposit,jdbcType=REAL},
      </if>
      <if test="ordertakingcount != null" >
        #{ordertakingcount,jdbcType=INTEGER},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="ordertakingrate != null" >
        #{ordertakingrate,jdbcType=REAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="totalstar != null" >
        #{totalstar,jdbcType=INTEGER},
      </if>
      <if test="totalcomment != null" >
        #{totalcomment,jdbcType=INTEGER},
      </if>
      <if test="avgstar != null" >
        #{avgstar,jdbcType=REAL},
      </if>
      <if test="carphoto != null" >
        #{carphoto,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zuche.entity.UserCarExample" resultType="java.lang.Integer" >
    select count(*) from user_car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_car
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.configurationId != null" >
        configuration_id = #{record.configurationId,jdbcType=INTEGER},
      </if>
      <if test="record.platenumber != null" >
        plateNumber = #{record.platenumber,jdbcType=CHAR},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gearbox != null" >
        gearbox = #{record.gearbox,jdbcType=INTEGER},
      </if>
      <if test="record.displacement != null" >
        displacement = #{record.displacement,jdbcType=VARCHAR},
      </if>
      <if test="record.navigator != null" >
        navigator = #{record.navigator,jdbcType=INTEGER},
      </if>
      <if test="record.pdc != null" >
        pdc = #{record.pdc,jdbcType=INTEGER},
      </if>
      <if test="record.drivenmode != null" >
        drivenMode = #{record.drivenmode,jdbcType=INTEGER},
      </if>
      <if test="record.mileage != null" >
        mileage = #{record.mileage,jdbcType=INTEGER},
      </if>
      <if test="record.capacity != null" >
        capacity = #{record.capacity,jdbcType=INTEGER},
      </if>
      <if test="record.fueltankage != null" >
        fuelTankage = #{record.fueltankage,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.disposit != null" >
        disposit = #{record.disposit,jdbcType=REAL},
      </if>
      <if test="record.ordertakingcount != null" >
        ordertakingCount = #{record.ordertakingcount,jdbcType=INTEGER},
      </if>
      <if test="record.sales != null" >
        sales = #{record.sales,jdbcType=INTEGER},
      </if>
      <if test="record.ordertakingrate != null" >
        ordertakingRate = #{record.ordertakingrate,jdbcType=REAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.totalstar != null" >
        totalStar = #{record.totalstar,jdbcType=INTEGER},
      </if>
      <if test="record.totalcomment != null" >
        totalComment = #{record.totalcomment,jdbcType=INTEGER},
      </if>
      <if test="record.avgstar != null" >
        avgStar = #{record.avgstar,jdbcType=REAL},
      </if>
      <if test="record.carphoto != null" >
        carPhoto = #{record.carphoto,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update user_car
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      configuration_id = #{record.configurationId,jdbcType=INTEGER},
      plateNumber = #{record.platenumber,jdbcType=CHAR},
      year = #{record.year,jdbcType=TIMESTAMP},
      gearbox = #{record.gearbox,jdbcType=INTEGER},
      displacement = #{record.displacement,jdbcType=VARCHAR},
      navigator = #{record.navigator,jdbcType=INTEGER},
      pdc = #{record.pdc,jdbcType=INTEGER},
      drivenMode = #{record.drivenmode,jdbcType=INTEGER},
      mileage = #{record.mileage,jdbcType=INTEGER},
      capacity = #{record.capacity,jdbcType=INTEGER},
      fuelTankage = #{record.fueltankage,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=REAL},
      disposit = #{record.disposit,jdbcType=REAL},
      ordertakingCount = #{record.ordertakingcount,jdbcType=INTEGER},
      sales = #{record.sales,jdbcType=INTEGER},
      ordertakingRate = #{record.ordertakingrate,jdbcType=REAL},
      status = #{record.status,jdbcType=INTEGER},
      totalStar = #{record.totalstar,jdbcType=INTEGER},
      totalComment = #{record.totalcomment,jdbcType=INTEGER},
      avgStar = #{record.avgstar,jdbcType=REAL},
      carPhoto = #{record.carphoto,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_car
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      configuration_id = #{record.configurationId,jdbcType=INTEGER},
      plateNumber = #{record.platenumber,jdbcType=CHAR},
      year = #{record.year,jdbcType=TIMESTAMP},
      gearbox = #{record.gearbox,jdbcType=INTEGER},
      displacement = #{record.displacement,jdbcType=VARCHAR},
      navigator = #{record.navigator,jdbcType=INTEGER},
      pdc = #{record.pdc,jdbcType=INTEGER},
      drivenMode = #{record.drivenmode,jdbcType=INTEGER},
      mileage = #{record.mileage,jdbcType=INTEGER},
      capacity = #{record.capacity,jdbcType=INTEGER},
      fuelTankage = #{record.fueltankage,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=REAL},
      disposit = #{record.disposit,jdbcType=REAL},
      ordertakingCount = #{record.ordertakingcount,jdbcType=INTEGER},
      sales = #{record.sales,jdbcType=INTEGER},
      ordertakingRate = #{record.ordertakingrate,jdbcType=REAL},
      status = #{record.status,jdbcType=INTEGER},
      totalStar = #{record.totalstar,jdbcType=INTEGER},
      totalComment = #{record.totalcomment,jdbcType=INTEGER},
      avgStar = #{record.avgstar,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zuche.entity.UserCar" >
    update user_car
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="configurationId != null" >
        configuration_id = #{configurationId,jdbcType=INTEGER},
      </if>
      <if test="platenumber != null" >
        plateNumber = #{platenumber,jdbcType=CHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=TIMESTAMP},
      </if>
      <if test="gearbox != null" >
        gearbox = #{gearbox,jdbcType=INTEGER},
      </if>
      <if test="displacement != null" >
        displacement = #{displacement,jdbcType=VARCHAR},
      </if>
      <if test="navigator != null" >
        navigator = #{navigator,jdbcType=INTEGER},
      </if>
      <if test="pdc != null" >
        pdc = #{pdc,jdbcType=INTEGER},
      </if>
      <if test="drivenmode != null" >
        drivenMode = #{drivenmode,jdbcType=INTEGER},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=INTEGER},
      </if>
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=INTEGER},
      </if>
      <if test="fueltankage != null" >
        fuelTankage = #{fueltankage,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="disposit != null" >
        disposit = #{disposit,jdbcType=REAL},
      </if>
      <if test="ordertakingcount != null" >
        ordertakingCount = #{ordertakingcount,jdbcType=INTEGER},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="ordertakingrate != null" >
        ordertakingRate = #{ordertakingrate,jdbcType=REAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="totalstar != null" >
        totalStar = #{totalstar,jdbcType=INTEGER},
      </if>
      <if test="totalcomment != null" >
        totalComment = #{totalcomment,jdbcType=INTEGER},
      </if>
      <if test="avgstar != null" >
        avgStar = #{avgstar,jdbcType=REAL},
      </if>
      <if test="carphoto != null" >
        carPhoto = #{carphoto,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zuche.entity.UserCar" >
    update user_car
    set user_id = #{userId,jdbcType=INTEGER},
      configuration_id = #{configurationId,jdbcType=INTEGER},
      plateNumber = #{platenumber,jdbcType=CHAR},
      year = #{year,jdbcType=TIMESTAMP},
      gearbox = #{gearbox,jdbcType=INTEGER},
      displacement = #{displacement,jdbcType=VARCHAR},
      navigator = #{navigator,jdbcType=INTEGER},
      pdc = #{pdc,jdbcType=INTEGER},
      drivenMode = #{drivenmode,jdbcType=INTEGER},
      mileage = #{mileage,jdbcType=INTEGER},
      capacity = #{capacity,jdbcType=INTEGER},
      fuelTankage = #{fueltankage,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      disposit = #{disposit,jdbcType=REAL},
      ordertakingCount = #{ordertakingcount,jdbcType=INTEGER},
      sales = #{sales,jdbcType=INTEGER},
      ordertakingRate = #{ordertakingrate,jdbcType=REAL},
      status = #{status,jdbcType=INTEGER},
      totalStar = #{totalstar,jdbcType=INTEGER},
      totalComment = #{totalcomment,jdbcType=INTEGER},
      avgStar = #{avgstar,jdbcType=REAL},
      carPhoto = #{carphoto,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zuche.entity.UserCar" >
    update user_car
    set user_id = #{userId,jdbcType=INTEGER},
      configuration_id = #{configurationId,jdbcType=INTEGER},
      plateNumber = #{platenumber,jdbcType=CHAR},
      year = #{year,jdbcType=TIMESTAMP},
      gearbox = #{gearbox,jdbcType=INTEGER},
      displacement = #{displacement,jdbcType=VARCHAR},
      navigator = #{navigator,jdbcType=INTEGER},
      pdc = #{pdc,jdbcType=INTEGER},
      drivenMode = #{drivenmode,jdbcType=INTEGER},
      mileage = #{mileage,jdbcType=INTEGER},
      capacity = #{capacity,jdbcType=INTEGER},
      fuelTankage = #{fueltankage,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      disposit = #{disposit,jdbcType=REAL},
      ordertakingCount = #{ordertakingcount,jdbcType=INTEGER},
      sales = #{sales,jdbcType=INTEGER},
      ordertakingRate = #{ordertakingrate,jdbcType=REAL},
      status = #{status,jdbcType=INTEGER},
      totalStar = #{totalstar,jdbcType=INTEGER},
      totalComment = #{totalcomment,jdbcType=INTEGER},
      avgStar = #{avgstar,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>